<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconquiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Quiz App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quest1_Activity"
            android:label="@string/question1" />
        <activity
            android:name=".Quest2_Activity"
            android:label="@string/question2" />
        <activity
            android:name=".Quest3_Activity"
            android:label="@string/question3" />
        <activity
            android:name=".Quest4_Activity"
            android:label="@string/question4" />
        <activity
            android:name=".Quest5_Activity"
            android:label="@string/question5" />
        <activity
            android:name=".Quest6_Activity"
            android:label="@string/question6" />
        <activity
            android:name=".Quest7_Activity"
            android:label="@string/question7" />
        <activity
            android:name=".Quest8_Activity"
            android:label="@string/question8" />
        <activity
            android:name=".Quest9_Activity"
            android:label="@string/question9" />
        <activity
            android:name=".Quest10_Activity"
            android:label="@string/question10" />
        <activity
            android:name=".EndQuizActivity"
            android:label="@string/EndQuizApp"></activity>
    </application>

</manifest>